<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-12">
            <center><h1>micolet</h1></center>
            <center><p><%= t('heading2') %></p></center>
        </div>
        <div class="col col-lg-6">

            <center><h4><%= t('welcome') %></h4></center>
            <center><h4><%= t('subscribe') %></h4></center>
            <%= form_with model: @user, local: true, class: "form-horizontal" do |form| %>
                <div>
                    <%= form.label :email %><br>
                    <% @user.errors.full_messages_for(:email).each do |message| %>
                        <div  class="alert alert-danger"><%= message %></div>
                    <% end %>
                    <%= form.text_field :email, class: 'form-control' %>
                </div>
                    <label><%= t('preferences') %></label>
                    <% ["Women's Fashion", "Men's Fashion", "Children's Fashion"].each do |tag| -%>
                        <div class="form-check">
                            <%= check_box_tag "preferences[]", tag %>
                            <%= label_tag "preferences[]", tag %>
                        </div>
                    <% end -%>
                        <% @user.errors.full_messages_for(:preferences).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                <div>
                    <%= form.submit class: 'class="btn btn-success' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
