<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-12">
            <center><h1>micolet</h1></center>
            <center><p>Almost new fashion with guarantee</p></center>
        </div>
        <div class="col col-lg-6">
            <center><h4>Welcome! Soon we will launch oyr site in this country.</h4></center>
            <center><h4>Subscribe receive our newsletter</h4></center>
            <%= form_with model: @user, local: true, class: "form-horizontal" do |form| %>
                <div>
                    <%= form.label :email %><br>
                    <%= form.text_field :email, class: 'form-control' %>
                    <% @user.errors.full_messages_for(:email).each do |message| %>
                    <div><%= message %></div>
                    <% end %>
                </div>
                    <label>Preferences</label>
                    <% ["Women's Fashion", "Men's Fashion", "Children's Fashion"].each do |tag| -%>
                        <div class="form-check">
                            <%= check_box_tag "preferences[]", tag %>
                            <%= label_tag "preferences[]", tag %>
                        </div>
                    <% end -%>
                        <% @user.errors.full_messages_for(:preferences).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                <div>
                    <%= form.submit class: 'class="btn btn-success' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
